/.idea/
/javascript/react/node_modules/
/javascript/react/.idea/
/selenium/.idea/
/selenium/node_modules/
/javascript/react-typescript/node_modules/
/puppeteer-jest/node_modules/
/javascript/web-application-demo/node_modules/
/javascript/web-application-demo/dist/
/javascript/node-server/build/
/javascript/node-server/.cache/
/javascript/node-server/node_modules/
/javascript/cryptocurrency/node_modules/
/javascript/web-application-demo/build/
/javascript/smart-contract-middle-server/node_modules/
/javascript/.idea/
/javascript/webpack-react-redux/dist/
/javascript/webpack-react-redux/node_modules/
