/.idea/
/javascript/react/node_modules/
/javascript/react/.idea/
/selenium/.idea/
/selenium/node_modules/
/javascript/react-typescript/node_modules/
/puppeteer-jest/node_modules/
/javascript/web-application-demo/node_modules/
/javascript/web-application-demo/dist/
/javascript/nodeServer/build/
/javascript/nodeServer/.cache/
/javascript/nodeServer/node_modules/
/javascript/cryptocurrency/node_modules/
